@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1672847014541') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 15pt;
  font-weight: 300 !important;
	letter-spacing: -0.025em;
	line-height: 1.75em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e882";
}

